.contenido
    margin-bottom: 40px
    display: flex
    justify-content: space-evenly
    contenedor()
    flex-wrap: wrap
.caja
    max-width: 430px
    margin-top: 50px
    caja-sombre()
    &__contenido
        padding: 20px
        background-color: color-claro
        span
            color: color-secundario
            titulos(Fuente2)
        h3
            font-weight: normal
            titulos(Fuente2)
.caja2
    max-width: 430px
    margin-top: 50px
    caja-sombre()
    &__contenido
        padding: 20px
        background-color: color-claro
        span
            color: color-secundario
            titulos(Fuente2)
        h3
            font-weight: normal
            titulos(Fuente2)

